<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.DictMapper">

<!--    List<Dict> getDictByType(String type);-->
    <select id="getDictByType" resultType="com.springboot.entity.Dict">
        select *from sys_dict
        where type = #{type}
    </select>
</mapper>
