<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.UserMapper">

<!--查询全部用户数据    List<User> getUser();-->
    <select id="getUser" resultType="com.springboot.entity.User">
        select *from sys_user
    </select>

<!--根据id查询用户数据    Integer getById(Integer id);-->
    <select id="getById" resultType="com.springboot.controller.DTO.UserDTO">
        select *from sys_user
        where id = #{id}
    </select>

<!--新增用户数据    Integer insert(User user);-->
     <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into
        sys_user(username,password,nickname,email,phone,address,avatar)
        values (#{username},#{password},#{nickname},#{email},#{phone},#{address},#{avatar})
    </insert>

<!--    Integer insertForRegist(User user);-->
    <insert id="insertForRegist" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(username,password,nickname,avatar)
        values (#{username},#{password},#{nickname},#{avatar})
    </insert>

<!--修改用户数据    Integer update(User user);-->
    <update id="update">
        update sys_user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="avatar != null">
                avatar = #{avatar}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

<!--根据用户id删除数据    Integer delete(Integer id);-->
    <delete id="delete">
        delete from sys_user where id = #{id}
    </delete>

<!--查询总记录数    Integer count();-->
    <select id="count" resultType="java.lang.Integer">
        select count(*) from sys_user where username like #{username} and address like #{address}
    </select>

<!--分页查询用户数据    List<User> selectPage(Integer pageNum,Integer pageSize);-->
    <select id="selectPage" resultType="com.springboot.entity.User">
        select *from sys_user where username like #{username} and address like #{address} ORDER BY id DESC limit #{pageNum},#{pageSize}
    </select>

<!--批量删除 Integer deleteByBatch(List<Integer> ids);-->
    <delete id="deleteByBatch">
        delete from sys_user
        where id in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

<!--通过UserDTO查询用户数据    UserDTO findByUserDTO(UserDTO userDTO);-->
    <select id="findByUserDTO" resultType="com.springboot.controller.DTO.UserDTO">
        select *from sys_user
        where username=#{username} and password=#{password}
    </select>

<!--通过username查询用户数据    Integer findByUserName(String username);-->
    <select id="findByUserName" resultType="com.springboot.entity.User">
        select *from sys_user
        where username=#{username}
    </select>
</mapper>
